body {
    background-color:  rgb(77, 75, 75);
    color: white;
    text-align: center;
    justify-content: center;
}

.button {
    display: flex;
}

button {
    color: white;
    background-color: rgb(58, 56, 56);
    padding: 10 24;
    border: 8px;
    border-radius: 8px;
    border-color: white;
    cursor: pointer;
    transition: background-color linear 2s;
}

button:hover {
    background-color: rgb(77, 75, 75);
}